{% extends 'base.html' %}
{% load static %}

{%block css_additional%}<link rel="stylesheet" href="{% static 'news/css/forms.css' %}">{%endblock%}


{% block title %}
Регистрация
{% endblock %}

{% block sidebar %}
{% include 'includes/_sidebar.html'%}
{% endblock %}

{% block content %}
<h1>Регистрация</h1>
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary" type="button">Регистрация</button>
    </div>
</form>


{% endblock %}